* {

    body {
    font-family:Georgia, 'Times New Roman', Times, serif, sans-serif;
    background-color: rgb(179, 240, 153);
    }

    h1 {
    color: rgb(0, 0, 0);
    text-align: center;
    }

    h2 {
        text-align: center;
    }

    h3 {
        text-align: center;
    }

    p {
    font-family: verdana;
    font-size: 20px;
    }

    .image {
        border-radius: 10px;
        border: 2px solid black;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

}